<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entscheidungsbaum.mobile.cellmonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="@string/app_name" >
        <activity
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellMonitorApplication"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellMonitorActivatorService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellMonitorScheduler"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellMonitorTimerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellDataResultReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
         <receiver
            android:name="com.entscheidungsbaum.mobile.cellmonitor.CellPhysicsReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>